<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EpicationServlet</servlet-name>
        <servlet-class>EpicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTrip</servlet-name>
        <servlet-class>Trip.addTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllTrip</servlet-name>
        <servlet-class>Trip.viewAllTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTripServlet</servlet-name>
        <servlet-class>AddTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTripServlets</servlet-name>
        <servlet-class>AddTripServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTripp</servlet-name>
        <servlet-class>addTripp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAddImage</servlet-name>
        <servlet-class>viewAddImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImage</servlet-name>
        <servlet-class>uploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>viewAllTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImages</servlet-name>
        <servlet-class>uploadImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllTrips</servlet-name>
        <servlet-class>viewAllTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrip</servlet-name>
        <servlet-class>deleteTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>successTest</servlet-name>
        <servlet-class>successTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTripRet</servlet-name>
        <servlet-class>editTripRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTrip</servlet-name>
        <servlet-class>editTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editImageRet</servlet-name>
        <servlet-class>editImageRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editImage</servlet-name>
        <servlet-class>editImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllTripUser</servlet-name>
        <servlet-class>viewAllTripUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EpicationServlet</servlet-name>
        <url-pattern>/EpicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTrip</servlet-name>
        <url-pattern>/addTrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllTrip</servlet-name>
        <url-pattern>/viewAllTrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTripServlet</servlet-name>
        <url-pattern>/AddTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTripServlets</servlet-name>
        <url-pattern>/AddTripServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTripp</servlet-name>
        <url-pattern>/addTripp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAddImage</servlet-name>
        <url-pattern>/viewAddImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImage</servlet-name>
        <url-pattern>/uploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImages</servlet-name>
        <url-pattern>/uploadImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllTrips</servlet-name>
        <url-pattern>/viewAllTrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrip</servlet-name>
        <url-pattern>/deleteTrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>successTest</servlet-name>
        <url-pattern>/successTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTripRet</servlet-name>
        <url-pattern>/editTripRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTrip</servlet-name>
        <url-pattern>/editTrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editImageRet</servlet-name>
        <url-pattern>/editImageRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editImage</servlet-name>
        <url-pattern>/editImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllTripUser</servlet-name>
        <url-pattern>/viewAllTripUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
