/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 Jun 2024, 7:08:24 pm
    Author     : afiqa
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #ff6a00;
    --background-color : white;
}

html {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Content */
.container {
    display: flex;
    align-items: center;
    padding-top: 7em;
    padding-left: 5em;
}

span{
    color: var(--primary-color);
}

.content {
    margin-right: 7em; 
    width: 40%;
}

.heading{
    font-size: 3em;
}

.sub-heading{
    margin-top: -40px;
}

.content-button a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: black;
    color:  white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.content-button a.button:hover{
    background-color: var(--primary-color);
    color: black;
    transition: all ease-in-out 0.1s;
}

/*Choose Date Section*/

.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 0 85px;
  width: 50%;
  gap: 1.5rem;
  left: 100px;
  background: #c3c4cc;
  padding: 25px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

span.form{
  color: black;
}

.input-box{
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.input-box span{
  font-weight: 500;
}

.input-box input{
  padding: 7px;
  outline: none;
  border: none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.form-container form .btn{
  flex: 1 2 5rem;
  padding: 10px 35px;
  margin-top: 21px;
  border: none;
  border-radius: 0.5rem;
  background: #474fa0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.form-container form .btn:hover{
  background: purple;
}

/*How it Works Section */

.how-it-works {
    text-align: center;
    margin-top: 140px;
    padding: 50px 25px;
    background-color: var(--background-color);
}

.how-it-works h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #2c3e50;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.step {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
    transition: all ease-in-out 0.3s;
}

.step:hover{
    transform: scale(1.025);
}

.step img {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto 20px;
}

.step h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-align: center;
}

.step p {
    font-size: 16px;
    color: #7f8c8d;
    line-height: 1.6;
}

/* Why Us Section */

.whyUs {
    padding: 50px 25px;
    background-color: var(--background-color);
}

.whyUs h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 40px;

}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.accordion-container {
    flex: 1;
    margin-right: 20px; 
}

.accordion {
    background-color: var(--background-color);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.4s, color 0.4s;
    position: relative;
    border-bottom: 1px solid black;
}

.accordion .downArrow {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.4s ease;
}

.accordion.active .downArrow {
    transform: translateY(-50%) rotate(180deg);
}

.panel {
    border-radius: 8px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.rent-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    background-color: var(--background-color);
}

.rent-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; 
    object-fit: contain; 
    
}


@media (min-width: 1024px) {

    .rent-img img {
        height: 100%;
    }

}

  @media (max-width: 768px) {

    /* Content */
    .container {
      display: flex;
      align-items: center;
      margin-top: -10px;
      padding-left: 5em;
    }
    .heading{
      font-size: 30px;
      width: 100%;
    }

    .sub-heading{
      margin-top: -30px;
      font-size: 12px;
    }

    .content-button a.button {
      padding: 10px 14px;
      font-size: 10px;
    }

    .car-image img {
      display: none;
      margin-top: 100px;
      width: 300px;
      height: 800px; 
    }

    .form-container form {
      margin-top: 10px;
      width: 50%;
    }

    /*Footer*/
    .footer {
      position: absolute;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }

  @media (max-width: 1295px) {
    
    /* Content */
    .container {
      display: flex;
      align-items: center;
      margin-top: -10px;
      padding-left: 5em;
    }
    .heading{
      font-size: 30px;
      width: 100%;
    }

    .sub-heading{
      margin-top: -30px;
      font-size: 12px;
    }

    .content-button a.button {
      padding: 10px 14px;
      font-size: 10px;
    }

    .car-image img {
      display: none;
      margin-top: 100px;
      width: 300px;
      height: 800px; 
    }

    .form-container form {
      margin-top: 10px;
      width: 50%;
    }
  }

  @media (max-width: 1436px) and (min-width: 1295px) {
    
    .form-container form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: -180px;
      margin-left: 85px;
      width: 50%;
      gap: 1.5rem;
      left: 100px;
      background: #c3c4cc;
      padding: 25px;
      border-radius: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
 }
  
  
